<br>
<br>

<h5>Are you looking for an amazing avatar generator for your website users? ruby_randimage is your gem!</h5>
<h5>A powerful, customizable and sophisticated awesome SVG avatars generator from several options such as symmetries, size, color palette and color densities.</h5>
<h5>RubyRandimage is a pure Ruby library without any dependencies.</h5>

<div class="jumbotron">
  <h3>Customize your icon!</h3>
  <p>Generate your awesome icons trying several options and click on generate</p>

    <%= form_tag(welcome_generate_path, :remote => true) do %>
      <h4>1. Select a theme</h4>
      <%= select_tag "theme", options_for_select(RubySvgImageGenerator::THEMES, RubySvgImageGenerator::T_HUMAN_AVATARS), :class => "form-control" %>
      <br>

      <h4>2. Combine the differents options</h4>

      <div class="row">
        <div class="col-xs-6 text-center">
          <%= image_tag "data:image/svg+xml;utf8, #{raw(@image)}", width: "200px", id: 'image', class: 'img-responsive' %>
        </div>

        <div class="col-xs-6">
          <%#= form_tag(welcome_generate_path, :remote => true) do %>
          <div id="parts">
            <%= render partial: 'parts' %>
          </div>
        </div>
      </div>
    <% end %>
</div>

<script type="text/javascript">
  $("#theme").change(function(){
    $(this).closest("form").submit();
  });
</script>
